#title {
	font-family: "Playfair Display", sans-serif;
	margin-top: 50px;
	font-size: 65px;
}

#occupation {
	font-family: "Raleway",sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 25px;
}

#top {
	margin-bottom: 25px;
}

#intro {
	font-family: "Open Sans", sans-serif;
	margin-bottom: 50px;
}

#content {
	font-family: "Open Sans", sans-serif;
	margin-left: 200px;
	margin-right: 200px;
	font-size: 15px;
}

h2 {
	font-family: "Playfair Display", sans-serif;
}

#more-info {
	font-family: "Raleway", sans-serif;
	font-size: 25px;
	margin-top: 25px;
	margin-bottom: 75px;
	text-align: center;
}

.year {
	font-weight: bold;
}